.riskContent{
  .Tabletitle{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: -15px;
    line-height: 45px;
    height: 45px;
    position: relative;

    // .ivu-btn{
    //   position: absolute;
    //   right: 10px;
    //   bottom: 2px;
    //   padding: 2px 8px 2px;
    // }
    // .ivu-icon{
    //   color: #2d8cf0;
    // }
  }
}
